@model Aplikacja_na_BDwAI.Models.LoginViewModel

<h1>Logowanie</h1>

<form asp-action="Login" method="post">
    <div>
        <label for="Email">Email:</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label for="Password">Hasło:</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    @if (!string.IsNullOrEmpty(ViewData["Error"] as string))
    {
    <div class="text-danger">@ViewData["Error"]</div>
    }
    <button type="submit" class="btn btn-primary">Zaloguj</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
