@model Aplikacja_na_BDwAI.Models.ErrorViewModel
@{
    ViewData["Title"] = "Wystąpił błąd";
}

<h1 class="text-danger">Wystąpił błąd.</h1>
<p>Przepraszamy za niedogodności. Wystąpił problem podczas przetwarzania Twojego żądania.</p>

@if (Model.ShowRequestId)
{
<p>
    <strong>Identyfikator błędu:</strong> <code>@Model.RequestId</code>
</p>
}

<p>Jeśli problem będzie się powtarzał, skontaktuj się z administratorem systemu.</p>

@section Scripts {
    <script>
        console.error("Błąd wystąpił z Identyfikatorem: @Model.RequestId");
    </script>
}
