@model Warehouse

<h1>Dodaj Magazyn</h1>

<form asp-action="Create" method="post">
    <div>
        <label>Nazwa:</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label>Lokalizacja:</label>
        <input asp-for="Location" />
        <span asp-validation-for="Location"></span>
    </div>
    <button type="submit">Zapisz</button>
</form>

