@model Warehouse

<h1>Usuń Magazyn</h1>

<p>Czy na pewno chcesz usunąć magazyn <strong>@Model.Name</strong>?</p>

<form asp-action="Delete" method="post">
    <input asp-for="Id" type="hidden" />
    <button type="submit">Usuń</button>
    <a asp-action="Index">Anuluj</a>
</form>
