<div class="container mt-5">
    <h1 class="mb-4 text-center">Dodaj Zamówienie</h1>

    <form asp-action="Create" method="post" class="card p-4 shadow-sm">
        <div class="form-group mb-3">
            <label for="productId" class="form-label">Produkt:</label>
            <select name="productId" class="form-select">
                <option value="">-- Wybierz produkt --</option>
                @foreach (var product in ViewBag.Products as SelectList)
                {
                    <option value="@product.Value">@product.Text</option>
                }
            </select>
            <span class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label for="quantity" class="form-label">Ilość:</label>
            <input name="quantity" type="number" class="form-control" placeholder="Wprowadź ilość" />
            <span class="text-danger"></span>
        </div>

        <div class="d-flex">
            <button type="submit" class="btn btn-primary w-auto me-2">Dodaj Zamówienie</button>
            <a asp-action="Index" class="btn btn-secondary w-auto">Powrót</a>
        </div>
    </form>
</div>
