@model Aplikacja_na_BDwAI.Models.Order

<div class="container mt-5">
    <h1 class="text-center text-primary">Dodaj Zamówienie</h1>

    <form asp-action="Create" method="post">
        <div class="form-group mb-3">
            <label for="ProductId" class="form-label">Produkt:</label>
            <select asp-for="ProductId" class="form-control" asp-items="ViewBag.Products">
                <option value="">Wybierz produkt</option>
            </select>
            <span asp-validation-for="ProductId" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label for="Quantity" class="form-label">Ilość:</label>
            <input asp-for="Quantity" class="form-control" type="number" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Zapisz</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
