<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Strona Główna</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        .btn-disabled {
            pointer-events: none; 
            opacity: 0.5; 
        }

        .btn-yellow {
            background-color: yellow;
            color: black;
        }

        .btn-red {
            background-color: red;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1>Panel Zarządzania</h1>
        <p>Witaj w aplikacji zarządzania! Wybierz sekcję:</p>
        <div class="row">
            <div class="col-md-4">
                @if (User.Identity.IsAuthenticated) {
                <a href="/Order/Index" class="btn btn-yellow btn-block">Zamówienia</a>
                } else {
                <a class="btn btn-yellow btn-block btn-disabled">Zamówienia (wymaga logowania)</a>
                }
            </div>
            <div class="col-md-4">
                @if (User.IsInRole("Admin")) {
                <a href="/Warehouse/Index" class="btn btn-primary btn-block">Magazyn</a>
                } else if (User.Identity.IsAuthenticated) {
                <a class="btn btn-primary btn-block btn-disabled">Magazyn (wymaga uprawnień Admina)</a>
                } else {
                <a class="btn btn-primary btn-block btn-disabled">Magazyn (wymaga logowania)</a>
                }
            </div>
            <div class="col-md-4">
                @if (User.Identity.IsAuthenticated) {
                <a href="/Product/Index" class="btn btn-red btn-block">Produkty</a>
                } else {
                <a class="btn btn-red btn-block btn-disabled">Produkty (wymaga logowania)</a>
                }
            </div>
        </div>
    </div>
</body>
</html>
